<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<property resource="application.yml" />
	<springProperty scope="context" name="DATABASE_NAME" source="spring.datasource.name"/>
	<property name="DIRECTORY-NAME" value="${DirectoryName:-/app/kraheja}" />
	<property name="LOG-FILE-NAME" value="${LogFileName:-${DATABASE_NAME:-KRAHEJA}.log}" />
	<property name="ROOT-LOG-LEVEL" value="${RootLogLevel:-info}" />
	<property name="SPRING-LOG-LEVEL" value="${SpringLogLevel:-info}" />
	<property name="KRAHEJA-LOG-LEVEL" value="${HECLogLevel:-info}" />
	<property name="LOG-PATTERN" value="${FileLogPattern:-%d{yyyy-MM-dd HH:mm:ss,SSS} : %X{log-trace-id} : %-6p : %F:%L : %m%n}" />

	<appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG-PATTERN}</pattern>
		</encoder>
		<file>${DIRECTORY-NAME}/${LOG-FILE-NAME}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${DIRECTORY-NAME}/${LOG-FILE-NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>20GB</totalSizeCap>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="${ROOT-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
	</root>
	
	<springProfile name="dev">
		<logger name="kraheja" level="${KRAHEJA-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</logger>
		<logger name="org.springframework" level="${SPRING-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</logger>
	</springProfile>
	
	<springProfile name="prod">
		<logger name="kraheja" level="${KRAHEJA-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</logger>
		<logger name="org.springframework" level="${SPRING-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</logger>
	</springProfile>
	
	<springProfile name="test">
		<logger name="kraheja" level="${KRAHEJA-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</logger>
		<logger name="org.springframework" level="${SPRING-LOG-LEVEL}" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING-FILE" />
		</logger>
	</springProfile>
</configuration>